<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>审核人03详情</title>
	<link rel="stylesheet" href="css/huanyu.css">
</head>

<body class="grey">
	<div class="top bbm">
		<div class="container">
			<div class="logo"><a href=""><img src="images/logo.jpg" alt=""></a></div>
			<div class="dang">当前用户：admin <a href="">修改密码</a><a href="">退出</a></div>
		</div>
	</div>
	
	
	<div class="container">
		<div class="xiao_bg">
			<div class="tit1">申报人信息</div>
			<ul class="step">
				<li>
					<a href="">
						<p></p>
						<p><b>资料已受理</b><br>2016-05-11 <br>20:37</p>
					</a>
				</li>
				<li>
					<a href="">
						<p></p>
						<p><b>资料审核中</b><br>2016-05-11 <br>20:37</p>
					</a>
				</li>
				<li>
					<a class="hov" href="">
						<p></p>
						<p><b>审核完成</b><br>2016-05-11 <br>20:37</p>
					</a>
				</li>
				<li>
					<a href="">
						<p></p>
						<p><b>评分中</b><br>2016-05-11 <br>20:37</p>
					</a>
				</li>
				<li>
					<a href="">
						<p></p>
						<p><b>评分完成</b><br>2016-05-11 <br>20:37</p>
					</a>
				</li>
				<li>
					<a href="">
						<p></p>
						<p><b>申报成功</b><br>2016-05-11 <br>20:37</p>
					</a>
				</li>
			</ul>
			<div class="tabletit">区教育部门审核意见</div>
			<table cellpadding="0" cellspacing="1" border="0" class="table">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="4">基础信息</th>
			            <th width="20%"><a class="allshu" href="">全部属实</a><a class="allshu" href="">全部退回</a></th>
			        </tr>
			        <tr>
			        	<td class="black text-right">校名：</td>
			        	<td>校长1</td>
			        	<td class="black text-right">身份证号：</td>
			        	<td>123456789987654321</td>
			        	<td class="tablelink" rowspan="3"><a class="shu" href="">属实</a><a class="shu" href="">退回</a></td>
			        </tr>
			        <tr>
			        	<td class="black text-right">手机号：</td>
			        	<td>13467969645</td>
			        	<td class="black text-right">所在学校：</td>
			        	<td>北京大学</td>
		        	</tr>
			        <tr>
			        	<td class="black text-right">现任职务：</td>
			        	<td>13467969645</td>
			        	<td class="black text-right">申报职级：</td>
			        	<td>北京大学</td>
		        	</tr>
			   </tbody>
			</table>

			<div class="tabletit">任职资历</div>
			<table cellpadding="0" cellspacing="1" border="0" class="table text-center">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="6">任职年限</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="black">序号</td>
			        	<td class="black">起止年月</td>
			        	<td class="black">所在学校</td>
			        	<td class="black">担任职务</td>
			        	<td class="black">任职年限</td>
			        	<td class="black">证明材料</td>
			        	<td class="tablelink" rowspan="8"><a class="shu" href="">属实</a><a class="shu" href="">退回</a></td>
			        </tr>
			        <tr>
			        	<td>1</td>
			        	<td>2016-01-2016-02</td>
			        	<td>罗湖小学</td>
			        	<td>副校长</td>
			        	<td>8</td>
			        	<td><a class="cha" href="">点击查看</a></td>
			        </tr>
			        <tr>
			        	<td>2</td>
			        	<td>2016-01-2016-02</td>
			        	<td>罗湖小学</td>
			        	<td>副校长</td>
			        	<td>8</td>
			        	<td><a class="cha" href="">点击查看</a></td>
			        </tr>
			   </tbody>
			</table>
			<table cellpadding="0" cellspacing="1" border="0" class="table text-center">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="7">学历情况</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="black">序号</td>
			        	<td class="black">起止年月</td>
			        	<td class="black">就读学校</td>
			        	<td class="black">就读专业</td>
			        	<td class="black">学历</td>
			        	<td class="black">学位</td>
			        	<td class="black">证明材料</td>
			        	<td class="tablelink" rowspan="8"><a class="shu" href="">属实</a><a class="shu" href="">退回</a></td>
			        </tr>
			        <tr>
			        	<td>1</td>
			        	<td>2016-01-2016-02</td>
			        	<td>罗湖小学</td>
			        	<td>副校长</td>
			        	<td>8</td>
			        	<td>8</td>
			        	<td><a class="cha" href="">点击查看</a></td>
			        </tr>
			   </tbody>
			</table>
			<table cellpadding="0" cellspacing="1" border="0" class="table text-center">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="4">职称情况</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="black">序号</td>
			        	<td class="black">职称</td>
			        	<td class="black">取得职称时间</td>
			        	<td class="black">证明材料</td>
			        	<td class="tablelink" rowspan="5"><a class="shu" href="">属实</a><a class="shu" href="">退回</a></td>
			        </tr>
			        <tr>
			        	<td>1</td>
			        	<td>8</td>
			        	<td>8</td>
			        	<td><a class="cha" href="">点击查看</a></td>
			        </tr>
			   </tbody>
			</table>

			<div class="tabletit">管理难度</div>
			<table cellpadding="0" cellspacing="1" border="0" class="table">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="6">近八年任职学校</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="black text-right">学校类型：</td>
			        	<td>大学</td>
			        	<td class="black text-right">校区数量：</td>
			        	<td>4</td>
			        	<td class="black text-right">学生人数：</td>
			        	<td>4000</td>
			        	<td class="tablelink" rowspan="5"><a class="shu" href="">属实</a><a class="shu" href="">退回</a></td>
			        </tr>
			   </tbody>
			</table>
			<table cellpadding="0" cellspacing="1" border="0" class="table">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="6">现任职学校</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="black text-right">学校类型：</td>
			        	<td>大学</td>
			        	<td class="black text-right">校区数量：</td>
			        	<td>4</td>
			        	<td class="black text-right">学生人数：</td>
			        	<td>4000</td>
			        	<td class="tablelink" rowspan="5"><a class="shu" href="">属实</a><a class="shu" href="">退回</a></td>
			        </tr>
			   </tbody>
			</table>

		    <div class="tabletit">专业能力</div>
			<table cellpadding="0" cellspacing="1" border="0" class="table">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="7">论文发表情况</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="text-center" rowspan="5">1</a>
			        	<td class="black text-right">题目：</td>
			        	<td colspan="2">库里蝉联常规赛MVP</td>
			        	<td class="black text-right" colspan="2">杂志及宣读学术会名称：</td>
			        	<td>nba</td>
			        	<td class="tablelink" rowspan="5">
			        		<a class="shu" href="">属实</a><a class="shu" href="">退回</a>
			        	</td>
			        </tr>
                    <tr>
			        	<td class="black text-right">宣读论文会议名称：</td>
			        	<td>库里蝉联常规赛MVP</td>
			        	<td class="black text-right">刊号：</td>
			        	<td>135</td>
			        	<td class="black text-right">发表及宣读时间：</td>
			        	<td>2016</td>
			        </tr>
                    <tr>
			        	<td class="black text-right">主板单位：</td>
			        	<td>库里蝉联常规赛MVP</td>
			        	<td class="black text-right">主板单位级别：</td>
			        	<td>135</td>
			        	<td class="black text-right">本人承担部分：</td>
			        	<td>2016</td>
			        </tr>
			   </tbody>
			</table>

			<table cellpadding="0" cellspacing="1" border="0" class="table">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="7">著作发表情况</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="text-center" rowspan="5">1</a>
			        	<td class="black text-right">书名：</td>
			        	<td colspan="2">库里蝉联常规赛MVP</td>
			        	<td class="black text-right" colspan="2">杂志及宣读学术会名称：</td>
			        	<td>nba</td>
			        	<td class="tablelink" rowspan="5">
			        		<a class="shu" href="">属实</a><a class="shu" href="">退回</a>
			        	</td>
			        </tr>
                    <tr>
			        	<td class="black text-right">完成方式：</td>
			        	<td>库里蝉联常规赛MVP</td>
			        	<td class="black text-right">出版时间：</td>
			        	<td>135</td>
			        	<td class="black text-right">本人完成字数：</td>
			        	<td>2016</td>
			        </tr>
                    <tr>
			        	<td class="black text-right">本人承担部分：</td>
			        	<td>库里蝉联常规赛MVP</td>
			        	<td class="black text-right">作者排序：</td>
			        	<td colspan="3">135本人承</td>
		        	</tr>
			   </tbody>
			</table>

			<table cellpadding="0" cellspacing="1" border="0" class="table">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="7">课题情况</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="text-center" rowspan="5">1</a>
			        	<td class="black text-right">课题名称：</td>
			        	<td colspan="2">库里蝉联常规赛MVP</td>
			        	<td class="black text-right" colspan="2">课题立项单位：</td>
			        	<td>nba</td>
			        	<td class="tablelink" rowspan="5"><a class="shu" href="">属实</a><a class="shu" href="">退回</a></td>
			        </tr>
                    <tr>
			        	<td class="black text-right">课题级别：</td>
			        	<td>库里蝉联常规赛MVP</td>
			        	<td class="black text-right">课题职责：</td>
			        	<td>135</td>
			        	<td class="black text-right">是否结题：</td>
			        	<td>2016</td>
			        </tr>
                    <tr>
			        	<td class="black text-right">结题时间：</td>
			        	<td>2016</td>
			        	<td class="black text-right">获奖情况：</td>
			        	<td colspan="3">本人承担部</td>
		        	</tr>
			   </tbody>
			</table>


			<table cellpadding="0" cellspacing="1" border="0" class="table">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="6">个人获奖情况</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="text-center" rowspan="5">1</a>
			        	<td class="black text-right">获奖名称：</td>
			        	<td colspan="2">库里蝉联常规赛MVP</td>
			        	<td class="black text-right">表彰单位：</td>
			        	<td>nba</td>
			        	<td class="tablelink" rowspan="5"><a class="shu" href="">属实</a><a class="shu" href="">退回</a></td>
			        </tr>
                    <tr>
			        	<td class="black text-right">获奖级别：</td>
			        	<td>库里蝉联常规赛MVP</td>
			        	<td class="black text-right">表彰时间：</td>
			        	<td colspan="2">是否结题</td>
		        	</tr>
			   </tbody>
			</table>

			
			<table cellpadding="0" cellspacing="1" border="0" class="table">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="7">学校获奖情况</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="text-center" rowspan="2">1</a></td>
                        <td class="black text-right">奖项名称：</td>                                      
			        	<td colspan="2">库里蝉联常规赛MVP</td>                                                   
			        	<td colspan="2" class="black text-right">表彰单位：</td>                                         
			        	<td>nba  </td>                                              
			        	<td rowspan="2"><a class="shu" href="">属实</a><a class="shu" href="">退回</a></td>
			        </tr>
                    <tr>
                    	<td class="black text-right">任职学校：</td>                                          
                    	<td>库里蝉联常规赛MVP </td>                                           
                    	<td class="black text-right">获奖界别：</td>                                         
                    	<td>135</td>                                   
                    	<td class="black text-right">表彰时间：</td> 
                    	<td>2016 </td>                                           
		        	</tr>
	                <tr>
	                	<td class="text-center" rowspan="2">1</a></td>
                    	<td class="black text-right">奖项名称：</td>                                          
	                	<td colspan="2">库里蝉联常规赛MVP</td>                  
	                	<td class="black text-right" colspan="2">表彰单位：</td>
	                	<td>nba</td>                    
			        	<td rowspan="2"><a class="shu" href="">属实</a><a class="shu" href="">退回</a></td>
			        </tr>
	                <tr>
	                	<td class="black text-right">任职学校：</td>                                            
	                	<td>库里蝉联常规赛MVP</td>              
	                	<td class="black text-right">获奖界别：</td>                                           
	                	<td>135</td>   
	                	<td class="black text-right">表彰时间：</td>                              
	                	<td>2016</td>                                          
		        	</tr>
			   </tbody>
			</table>
            
			<table cellpadding="0" cellspacing="1" border="0" class="table">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="7">学校获奖情况2</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="text-center" rowspan="2">1</a></td>
                        <td class="black text-right">奖项名称：</td>                                      
			        	<td colspan="2">库里蝉联常规赛MVP</td>                                                   
			        	<td class="black text-right" colspan="2">表彰单位：</td>
	                	<td>nba</td>                                             
			        	<td rowspan="2"><input class="shuru" type="text" value="" placeholder="输入"><img class="qa" src="images/icon_qa.png" alt=""></td>
			        	
			        </tr>
                    <tr>
                    	<td class="black text-right">任职学校：</td>                                          
                    	<td>库里蝉联常规赛MVP </td>                                           
                    	<td class="black text-right">获奖界别：</td>                                           
                    	<td>135</td>                                   
                    	<td class="black text-right">表彰时间：</td>                              
	                	<td>2016</td>                                                 
		        	</tr>
	                <tr>
	                	<td rowspan="2">1</a></td>
                    	<td class="black text-right">奖项名称：</td>                                          
	                	<td colspan="2">库里蝉联常规赛MVP</td>                  
	                	<td class="black text-right" colspan="2">表彰单位：</td>
	                	<td>nba</td>                   
			        	<td rowspan="2"><input class="shuru" type="text" value="" placeholder="输入"><img class="qa" src="images/icon_qa.png" alt=""></td>
			        </tr>

	                <tr>
	                	<td class="black text-right">任职学校：</td>                                            
	                	<td>库里蝉联常规赛MVP</td>              
	                	<td class="black text-right">获奖界别：</td>                                           
	                	<td>135</td>   
	                	<td class="black text-right">表彰时间：</td>                              
	                	<td>2016</td>                                                
		        	</tr>
			   </tbody>
			</table>


			<table cellpadding="0" cellspacing="1" border="0" class="table">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="6">个人获奖情况</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="text-center" rowspan="5">1</a>
			        	<td class="black text-right">获奖名称：</td>
			        	<td colspan="2">库里蝉联常规赛MVP</td>
			        	<td class="black text-right">表彰单位：</td>
			        	<td>nba</td>
			        	<td class="tablelink" rowspan="5"><input class="shuru" type="text" value="" placeholder="输入"><img class="qa" src="images/icon_qa.png" alt=""></td>
			        </tr>
                    <tr>
			        	<td class="black text-right">获奖级别：</td>
			        	<td>库里蝉联常规赛MVP</td>
			        	<td class="black text-right">表彰时间：</td>
			        	<td colspan="2">是否结题</td>
		        	</tr>
			   </tbody>
			</table>
            
       		<table cellpadding="0" cellspacing="1" border="0" class="table">
			    <tbody>
                    <tr>
			            <th width="80%" colspan="6">个人获奖情况</th>
			            <th width="20%"></th>
			        </tr>
			        <tr>
			        	<td class="text-center" rowspan="5">1</a>
			        	<td class="black text-right">获奖名称：</td>
			        	<td colspan="2">库里蝉联常规赛MVP</td>
			        	<td class="black text-right">表彰单位：</td>
			        	<td>nba</td>
			        	<td class="tablelink" rowspan="5"><input class="shuru" type="text" value="" placeholder="输入"><img class="qa" src="images/icon_qa.png" alt=""></td>
			        </tr>
			   </tbody>
			</table>
            
            
			<div class="tabletit">工作成效</div>
			<table  cellpadding="0" cellspacing="1" border="0" class="table text-center">
			    <tbody>
                    <tr>
			            <th width="100%"><span><a href="">隐藏</a></span>述职报告</th>
			        </tr>
			        <tr>
			        	<td class="text-center"><textarea class="text" name="" id="" cols="30" rows="10"></textarea>
			        		<p class="dafen">打分：<input type="text" placeholder="">分（满分100）</p>
			        		<select >
			        		 <option selected="selected">
			        		</select>
			        	</td>
			        </tr>
			   </tbody>
			</table>

			<div class="tabletit"><a href="">提交</a></div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			深州市教育局版权所有 | 亮信科技技术支持：0755-33018116（工作日9:00-12:00  14:00-18:00） <br>
			Copyright &copy; 2016 . All Rights Reserved.
		</div>
	</div>
</body>
</html>
