<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>校长-基础信息</title>
	<link rel="stylesheet" href="css/huanyu.css">
</head>

<body class="grey">
	<div class="top bbm">
		<div class="container">
			<div class="logo"><a href=""><img src="images/logo.jpg" alt=""></a></div>
			<div class="dang">当前用户：admin <a href="">修改密码</a><a href="">退出</a></div>
		</div>
	</div>
	
	
	<div class="container">
		<div class="xiao_bg">
			<ul class="tit">
				<li><a class="hov" href="">1、基础信息</a></li>
				<li><a href="">2、任职年限</a></li>
				<li><a href="">3、管理难度</a></li>
				<li><a href="">4、专业能力</a></li>
				<li><a href="">5、工作成效</a></li>
			</ul>
			<ul class="iput">
				<li><p>姓名：</p><input type="text" value="" placeholder="请输入您的姓名"></li>
				<li><p>手机：</p><input type="text" value="" placeholder="请输入您的手机号码"></li>
				<li><p>身份证号码：</p><input type="text" value="" placeholder="请输入18位身份证号码"></li>
				<li><p>所在学校：</p><input type="text" value="" placeholder="请输入学校名称"></li>
				<li><p>现任职务：</p><select name="" id=""><option value="">请选择</option></select></li>
				<li><p>申请职级：</p><select name="" id=""><option value="">请选择</option></select></li>
				<li class="btn"><input type="submit" value="提交"></li>
			</ul>
		</div>
	</div>

	<div class="footfixed">
		<div class="container">
			深州市教育局版权所有 | 亮信科技技术支持：0755-33018116（工作日9:00-12:00  14:00-18:00） <br>
			Copyright &copy; 2016 . All Rights Reserved.
		</div>
	</div>

</body>
</html>
