<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>申报人</title>
	<link rel="stylesheet" href="css/huanyu.css">
</head>

<body class="grey">
	<div class="top bbm">
		<div class="container">
			<div class="logo"><a href=""><img src="images/logo.jpg" alt=""></a></div>
			<div class="dang">当前用户：admin <a href="">修改密码</a><a href="">退出</a></div>
		</div>
	</div>
	
	
	<div class="container">
		<div class="xiao_bg position">
			<ul class="tit">
				<li><a href="">1、基础信息</a></li>
				<li><a class="hov" href="">2、任职年限</a></li>
				<li><a href="">3、管理难度</a></li>
				<li><a href="">4、专业能力</a></li>
				<li><a href="">5、工作成效</a></li>
			</ul>

			<div class="renzhi">
				<h4>学历情况</h4>
				<div class="tit2"><em>1、</em>2016/01-2016-05<span>清华大学</span></div>
				<ul>
					<li><p>起止年月：</p>
						<select name="" id=""><option value="">2016</option></select><select name="" id=""><option value="">05</option></select><span>—</span> 
						<select name="" id=""><option value="">2016</option></select>
						<select name="" id=""><option value="">05</option></select>
					</li>
					<li><p>就读院校：</p><input type="text" value="" placeholder=""></li>
					<li><p>就读专业：</p><input type="text" value="" placeholder=""></li>
					<li><p>学历：</p><select name="" id=""><option value="">2016</option></select></li>
					<li><p>学位：</p><select name="" id=""><option value="">2016</option></select></li>
					<li class="btn"><input type="submit" value="保 存"></li>
				</ul>

				<h4 class="mt30">任职年限</h4>
				<div class="tit2"><em>1、</em>2016/01-2016-05<span>清华大学</span></div>
				<ul>
					<li><p>起止年月：</p>
						<select name="" id=""><option value="">2016</option></select><select name="" id=""><option value="">05</option></select><span>—</span> 
						<select name="" id=""><option value="">2016</option></select>
						<select name="" id=""><option value="">05</option></select>
					</li>
					<li><p>所在学校：</p><input type="text" value="" placeholder=""></li>
					<li><p>担任职务：</p><input type="text" value="" placeholder=""></li>
					<li><p>任职年限：</p><select name="" id=""><option value="">2016</option></select></li>
					<li><p>证明材料：</p><a class="file_link" href="#">选择文件上传<input class="file" type="file" value="" /></a></li>
					<li class="btn"><input type="submit" value="保 存"></li>
				</ul>

				<h4 class="mt30">职称情况</h4>
				<div class="tit2"><em>1、</em>2016/01-2016-05<span>清华大学</span></div>
				<a class="add" href="">+</a>
				<ul>
					<li class="btn"><input type="submit" value="下一步"></li>
				</ul>
			</div>

			<!-- 右导航 -->
			<div class="rightnav">
				<ul>
					<li><img src="images/mid.png" alt=""> 学历情况</li>
					<li><img src="images/mid.png" alt=""> 任职年限</li>
					<li><img src="images/mid.png" alt=""> 职称情况</li>
					<li class="backtop"><a href="#top"><img src="images/backTop.png" alt=""></a></li>
				</ul>
				<p><img src="images/hov.png" alt=""></p>
			</div>

		</div>
	</div>

	<div class="footfixed">
		<div class="container">
			深州市教育局版权所有 | 亮信科技技术支持：0755-33018116（工作日9:00-12:00  14:00-18:00） <br>
			Copyright &copy; 2016 . All Rights Reserved.
		</div>
	</div>

</body>
</html>
