@charset "utf-8";
/* CSS Document */
body,div,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dt,dd,form,fieldset,legend,input,textarea,select,i.cite{margin:0;padding:0}
body{background:#EBF9FD;color:#633F33;font-family:FZChild,"新宋体",Arial, Helvetica, sans-serif;font-size:20px;line-height:22px;}
div{overflow:hidden;}
li{list-style-type:none;}
img{border:0;vertical-align:middle;}
i,em,cite{font-style:normal;}

/* HREF 样式 */
a:link{color:#333;text-decoration:none;}
a:visited{color:#333;text-decoration:none;}
a:hover{color:#D92727;text-decoration:underline;}
a:active{color:#333;text-decoration:none;}

#upload{background:url(/images/yuexue2/sell/upload/footerBg.jpg) 0 bottom repeat-x;width:100%;}
#top{background:url(/images/yuexue2/sell/upload/Img_01.png) 0 0 no-repeat;height:56px;margin:0 auto;width:1206px;}
#top img{float:right;margin-top:15px;margin-right:15px;}
#content{background: url(/images/yuexue2/sell/upload/Img_03.png) 0 0 repeat-y;margin:0 auto;min-height:560px;width:1106px;padding:0 50px;}
#bottom{background:url(/images/yuexue2/sell/upload/Img_02.png) 0 0 no-repeat;height:56px;margin:0 auto;width:1206px;}


/* 活动主题 */
.com_openWindow{margin:0px auto 0 auto;width:730px;}
/* 
.com_openWindow .close{background:url(/images/yuexue2/sell/upload/Img_29.png) 50% 6px no-repeat;height:76px;width:100%;}
.com_openWindow .content{background:url(/images/yuexue2/sell/upload/Img_30.png) 50% 0 repeat-y;width:100%;}
.com_openWindow .bottom{background:url(/images/yuexue2/sell/upload/Img_31.png) 50% 0 no-repeat;height:90px;text-align:right;width:100%;}
*/
.com_openWindow .close{height:40px;width:100%;}
.com_openWindow .content{width:100%;}
.com_openWindow .bottom{height:60px;text-align:right;width:100%;}
.com_openWindow .bottom img{margin-top:14px;margin-right:45px;}
.com_openWindowContent{margin:0 auto;width:620px;}

.com_openWindows{margin:20px auto 0 auto;width:820px;}
.com_openWindows .close{background:url(/images/yuexue2/sell/upload/Img_33.png) 50% 6px no-repeat;height:68px;width:100%;}
.com_openWindows .content{background:url(/images/yuexue2/sell/upload/Img_34.png) 50% 0 repeat-y;width:100%;}
.com_openWindows .bottom{background:url(/images/yuexue2/sell/upload/Img_35.png) 50% 0 no-repeat;height:80px;text-align:right;width:100%;}
.com_openWindows .bottom img{margin-top:24px;margin-right:45px;}
.com_openWindowsContent{margin:0 auto;width:730px;}

.kqlx{width:100%;}
.kqlx dt,.kqlx dd{float:left;padding:18px 0;width:100%;}
.kqlx dd{border-top:#80604B 2px dashed;}
.kqlx dd p{width:100%;}
.kqlx dd p.p_01 i{background:url(/images/yuexue2/sell/upload/Img_37.png) 0 0 no-repeat;display:inline;height:30px;margin-left:10px;margin-top:5px;width:640px;}
.kqlx dd p.p_01 i input{border:0;font-size:18px;height:28px;line-height:28px;margin-top:1px;margin-right:6px;width:628px;}
.kqlx dd p.p_02{margin-top:25px;text-align:right;}

.jl{width:100%;}
.jl li{float:left;height:36px;line-height:36px;margin-top:10px;overflow:hidden;padding:0 270px 0 0;width:460px;position:relative;}
.jl li span{display:block;height:36px;overflow:hidden;text-align:center;width:180px;position:absolute;top:0;right:80px;}
.jl li img{height:35px;width:74px;position:absolute;top:0;right:0;}

.title{margin-top:4px;width:100%;}
.title span,.kqlx dd p.p_01 span{display:block;height:40px;line-height:40px;}
.title div{background:url(/images/yuexue2/sell/upload/Img_05.png) 0 0 no-repeat;display:inline;height:30px;margin-left:10px;margin-top:2px;width:450px;}
.title div input{border:0;font-size:18px;height:28px;line-height:28px;margin-top:1px;margin-right:6px;width:436px;}
.title .forInput{background:url(/images/yuexue2/sell/upload/Img_32.png) 0 0 no-repeat;display:inline;height:30px;margin-left:10px;margin-top:5px;width:156px;}
.title .forInput input{border:0;font-size:18px;height:28px;line-height:28px;margin-top:1px;margin-right:6px;width:142px;}
.title .com_txtArea{background:#FFF;border:0;font-size:18px;height:140px;margin-top:5px;resize:none;padding:10px;width:560px;}
.select{display:inline;float:left;margin-left:5px;}
.select li{display:inline;float:left;margin-left:10px;}
.select li.li_01{background:url(/images/yuexue2/sell/upload/Img_08.png) 0 0 no-repeat;height:180px;margin-left:30px;width:122px;position:relative;z-index:1;}
.select li.li_01 img{height:170px;width:116px;position:absolute;top:3px;left:3px;z-index:99;}
.select li.li_02{margin-left:20px;}
.select li.li_03{font-size:14px;height:38px;width:356px;position:relative;z-index:1;}
.select li.li_03 .jd{background:url(/images/yuexue2/sell/upload/Img_26.png) 0 0 no-repeat;height:20px;width:252px;position:absolute;left:0;top:5px;z-index:1;}
.select li.li_03 .jdp{background:none;color:#FFF;height:20px;line-height:20px;text-align:center;width:252px;position:absolute;left:0;top:5px;z-index:1;}
.select li.li_03 .time{background:none;height:20px;line-height:20px;text-align:center;width:90px;position:absolute;right:0;top:4px;z-index:1;}
.select li.li_04{background:url(/images/yuexue2/sell/upload/Img_28.png) 0 0 no-repeat;height:148px;width:214px;position:relative;z-index:1;}
.select li.li_04 img{height:134px;width:200px;position:absolute;top:5px;left:6px;}
.select li.li_05{height:38px;overflow:visible;width:500px;z-index:5;}
/**/
em{color:#FFF;display:inline-block;height:38px;overflow:visible;position:relative;z-index:99;}
em i{display:block;height:38px;line-height:36px;}
em i.i_01{background:url(/images/yuexue2/sell/upload/Img_39.png) 0 0 no-repeat;width:30px;}
em i.i_02{background:url(/images/yuexue2/sell/upload/Img_40.png) 0 0 repeat-x;padding:0 10px;}
em i.i_03{background:url(/images/yuexue2/sell/upload/Img_39.png) -84px 0 no-repeat;width:20px;}

/**/
.select li.li_05 em:hover .classSelect{display:block;}
.classSelect{background:#79C757;display:none;padding:5px 0;width:100%;position:absolute;left:0;top:37px;z-index:999999999999;}
.classSelect dl{width:100%;}
.classSelect dd{cursor:pointer;float:left;font-size:16px;height:24px;line-height:24px;text-align:center;width:100%;}
.classSelect dd:hover{background:#559F35;}

.addContent{border-top:#613D31 2px dashed;margin-top:10px;width:100%;}
.addContent p{padding:20px 0 0 0;}
.addContent .txtArea{background:#FFF;border:0;height:210px;resize:none;width:1100px;}

.upLoad{height:40px;margin-top:20px;text-align:right;width:100%;}

/* 弹出信息 */
.mask{background:#666666;height:100%;width:100%;position:fixed;top:0;left:0;z-index:9998;filter:alpha(Opacity=70);-moz-opacity:0.7;opacity:0.7;}
.maskContainer{height:100%;width:100%;overflow-y:scroll;position:fixed;top:0;left:0;z-index:9999;}

.yd_upLoad{background:url(/images/yuexue2/sell/upload/Img_14.png) 50% 8px no-repeat;margin:50px auto 0 auto;height:485px;width:662px;}
.yd_upLoad .yd_c{height:50px;text-align:right;width:100%;}
.yd_upLoad .yd_content{margin:0 auto;height:420px;width:580px;}

/* Public */
.fzChild{font-family:FZChild;}
.fl{float:left;}
.fr{float:right;}
.bgf{background:#00FF66;}

.uploadBtn{background:url(Img_07.png)no-repeat;overflow:hidden;position:relative;width:94px;height:38px;}
.uploadfile{width:94px;height:38px;position: absolute;opacity:0;filter:alpha(opacity=0);right:0;top:0;}
.uploadaccBtn{background:url(Img_15.png)no-repeat;overflow:hidden;position:relative;width:94px;height:38px;}
.uploadaccfile{width:94px;height:38px;position: absolute;opacity:0;filter:alpha(opacity=0);right:0;top:0;}